@import "../lib/slick/slick.css";
@import "../lib/slick/slick-theme.css";
@import "./products/best-sale_products";
@import "./products/shop-product-filter";
@import "./woocomerce/add_to_cart";
@import "./about";
@import "./customize";
@import "./header";
@import "./product-archive";
@import "./authen";
@import "./my-account";
@import "./page/home";
@import "./page/checkout/checkout";
@import "./mobile-nav-filter";


a {
  text-decoration: none !important;
}

.elementor-post {
  display: flex !important;
  flex-direction: row !important;
  gap: 20px;
  align-items: flex-start;

  .elementor-post__thumbnail__link {
    flex: 0 0 35%; 
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .elementor-post__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .elementor-post__meta-data {
      font-size: 14px;
      color: #666;
    }

    .elementor-post__title {
      margin: 0;
      font-size: 20px;
    }
  }
}
